[
    {lager,
        [
            {handlers,
                [
                    {lager_common_test_backend, debug},
                    {lager_console_backend, debug},
                    {lager_file_backend, [{file, "error.log"}, {level, error}]}
                ]
            }
        ]
    },
    {kernel,
        [
            {start_timer, true}
        ]
    },
    {extra_sinks,
        [
            {error_logger_lager_event,
                [
                    {handlers,
                        [
                            {lager_console_backend, info}
                        ]
                    }
                ]
            }
        ]
    }
].
